/* Main styles */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300");

/* Variables */

:root {
  --color-win: #78cf82;
  --color-lose: #cb4f4f;
  --color-start: #363636;
  --color-neutral: #2f2f2f;;
  --color-neutral-light: #292828;
  --color-keys: #e4e4e4;
  --color-keys-light: #2f2f2f;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all 0.2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 231, 231);
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li,
ol,
ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
}

button {
  margin: .1em;
  border: 1px solid transparent;
  padding: 1rem .8rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}
button:hover {
  background-color: #4e4e4e;
  transition-duration: .3s;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Phrase */

.letter {
  border: solid 1px white;
  font-size: var(--font-size-medium);
  height:60px;
  width: 60px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
}

.space {
  width: 1px;
}

.show {
  color: #000;
  background-color: #76ce82;
  transition-property: transform;
  transition-duration: 2s;
  transform: rotateY(360deg);
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: var(--color-neutral);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #ffffff;
}

.btn__reset {
  padding: 2em 3em;
  margin: 30px auto;
  background: #ffffff;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  cursor: pointer;
}
.btn__reset:hover {
  background-color: #2f2f2f;
  transition-duration: .4s;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #ffffff;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #fff;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-win);
}

.win {
  background-color: var(--color-win);
  z-index: 1;
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
  z-index: 1;
}

.lose a {
  color: var(--color-lose);
}

@media (min-width: 768px) {
  .letter {
    height: 90px;
    width: 90px;
  }
  button {
    padding: 1.5em;
  }
}